html {
    font-size:17px;
}

table,tr,th,td,caption{
    border:1px solid blue;
    font-family:'Courier New', Courier, Monospace;
    border-collapse: collapse;
    padding:5px;
    border-spacing:5px;
}





